<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">
    <xacro:arg name="config_dir" default="$(find wvcsc_sensor_kit_description)/config"/>
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>
    <xacro:property name="sensor_kit_base_link" value="sensor_kit_base_link"/>

    <material name="gray">
      <color rgba="0.5 0.5 0.5 1"/>
    </material>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>
    <link name="${sensor_kit_base_link}"/>

    <joint name="laser_joint" type="fixed">
      <origin
        xyz="${calibration['sensor_kit_base_link']['laser']['x']} ${calibration['sensor_kit_base_link']['laser']['y']} ${calibration['sensor_kit_base_link']['laser']['z']}"
        rpy="${calibration['sensor_kit_base_link']['laser']['roll']} ${calibration['sensor_kit_base_link']['laser']['pitch']} ${calibration['sensor_kit_base_link']['laser']['yaw']}"
      />
      <parent link="${sensor_kit_base_link}"/>
      <child link="laser"/>
    </joint>
    <link name="laser">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.08" length="0.15"/>
        </geometry>
        <material name="gray"/>
      </visual>
    </link>

    <joint name="gyro_link_joint" type="fixed">
      <origin
        xyz="${calibration['sensor_kit_base_link']['gyro_link']['x']} ${calibration['sensor_kit_base_link']['gyro_link']['y']} ${calibration['sensor_kit_base_link']['gyro_link']['z']}"
        rpy="${calibration['sensor_kit_base_link']['gyro_link']['roll']} ${calibration['sensor_kit_base_link']['gyro_link']['pitch']} ${calibration['sensor_kit_base_link']['gyro_link']['yaw']}"
      />
      <parent link="${sensor_kit_base_link}"/>
      <child link="gyro_link"/>
    </joint>
    <link name="gyro_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 0.001"/>
        </geometry>
        <material name="gray"/>
      </visual>
    </link>

  </xacro:macro>
</robot>
