<?xml version="1.0"?>
<robot name="wvcsc_vehicle" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="vehicle_model" default="wvcsc_vehicle"/>
  <xacro:arg name="sensor_model" default="wvcsc_sensor_kit"/>
  <xacro:arg name="config_dir" default="$(find wvcsc_sensor_kit_description)/config"/>

  <!-- Keep the Autoware vehicle/sensor TF aligned with the real-car validated
       stack:
       - wtb_car_driver/urdf/wtb_car.xacro
       - my_navigation2 / my_cartographer frame conventions
       - lidar_ros2/lslidar_ros/lslidar_driver/params/lslidar_cx.yaml -->
  <xacro:property name="vehicle_info" value="${xacro.load_yaml('$(find wvcsc_vehicle_description)/config/vehicle_info.param.yaml')}"/>
  <xacro:property name="vehicle_params" value="${vehicle_info['/**']['ros__parameters']}"/>
  <xacro:property name="sensor_calibration" value="${xacro.load_yaml('$(arg config_dir)/sensors_calibration.yaml')}"/>

  <xacro:include filename="$(find wvcsc_vehicle_description)/urdf/wvcsc_vehicle_base.xacro"/>
  <xacro:include filename="$(find wvcsc_sensor_kit_description)/urdf/sensor_kit.xacro"/>

  <xacro:wvcsc_vehicle_base_macro
    base_length="${vehicle_params['vehicle_length']}"
    base_width="0.80"
    base_height="${vehicle_params['vehicle_height']}"
    base_link_to_footprint_z="0.66"
    wheel_radius="${vehicle_params['wheel_radius']}"
    wheel_width="${vehicle_params['wheel_width']}"
    wheel_x="${vehicle_params['wheel_base'] / 2.0}"
    wheel_y="${vehicle_params['wheel_tread'] / 2.0}"
  />

  <xacro:sensor_kit_macro
    parent="base_link"
    x="${sensor_calibration['base_link']['sensor_kit_base_link']['x']}"
    y="${sensor_calibration['base_link']['sensor_kit_base_link']['y']}"
    z="${sensor_calibration['base_link']['sensor_kit_base_link']['z']}"
    roll="${sensor_calibration['base_link']['sensor_kit_base_link']['roll']}"
    pitch="${sensor_calibration['base_link']['sensor_kit_base_link']['pitch']}"
    yaw="${sensor_calibration['base_link']['sensor_kit_base_link']['yaw']}"
  />
</robot>
