<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="vehicle_info" value="${xacro.load_yaml('$(find wvcsc_vehicle_description)/config/vehicle_info.param.yaml')}"/>
  <xacro:property name="params" value="${vehicle_info['/**']['ros__parameters']}"/>

  <xacro:include filename="$(find wvcsc_vehicle_description)/urdf/wvcsc_vehicle_base.xacro"/>
  <xacro:wvcsc_vehicle_base_macro
    base_length="${params['vehicle_length']}"
    base_width="0.80"
    base_height="${params['vehicle_height']}"
    base_link_to_footprint_z="0.66"
    wheel_radius="${params['wheel_radius']}"
    wheel_width="${params['wheel_width']}"
    wheel_x="${params['wheel_base'] / 2.0}"
    wheel_y="${params['wheel_tread'] / 2.0}"
  />
</robot>
